table {
  display: block;
  overflow: hidden;

  .cp {
		cursor: pointer;
	}

  thead, tbody {
    display: block;
  }

  tbody {
    max-height: 80vh;
    overflow-y: scroll;
  }

  thead {
    width: calc(100% - 17px);
    overflow: hidden;
  }

  tr {
    width: 100%;
    display: flex;

    th, td {
      display: inline-flex;
      flex-basis: 50%;
      word-break: break-word;
      justify-content: center;
    }
  }
}